


/*This is the project title transitioning from long text to short text*/

.ha-header {
	/*position: fixed;*/
	padding-left: 0px;
	/*font-family: 'Lato', Arial, sans-serif;*/
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	/*z-index: 2;*/

}


/* Text styling */

.ha-header h1 {
	/*display: inline-block;*/
	vertical-align: middle;
	text-align: center;
	text-align: left;
	font-weight: 400;
	font-size: 0.7em;
/*	margin-left: 5px;
*/	width: 100%;
	color: #E54918;
	cursor: default;
	height: 100%;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	text-transform: uppercase;
}

.ha-header h1::after {
	content: '';
	/*height: auto;*/
	background: transparent;
	/*position: absolute;*/
	top: 20px;
	left: 0;
	cursor: pointer;
	opacity: 0;
	text-transform: uppercase;
/*	border: 20px solid #fff;*/	
	-webkit-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	transition: opacity 0.1s;
}




.ha-header-small h1{
	background-color: rgba(255,255,255,0.5);
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ha-header-box {
	left: 5px;
	background-color: rgba(255,255,255,0);
}



.ha-header-box h1{
	color: transparent;
}

.ha-header-box h1:after {
	opacity: 1;
}


/*This makes the header snippet responsive */

@media screen and (max-width: 65em) {
	.ha-header {
		font-size: 85%;
	}
}

@media screen and (max-width: 60em) {


	.ha-header-perspective > div,
	.ha-header nav {
		text-align: center;
	}

	.ha-header h1 {
		padding: 10px 0;
		height: .6em;
	}

	.ha-header .ha-header-bottom nav {
		padding: 40px 0px;
	}

	.ha-header nav {
		display: block;
		height: auto;
	}

}

@media screen and (max-width: 38em) {
	section {
		font-size: 1.3em;
	}

	.ha-header h1 {
		font-size: 2em;
	}

	.ha-header nav {
		font-size: 60%;
	}
}



/*CSS code from CoDrops downloaded snippet*/

/*.ha-header-perspective {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	perspective: 1100px;
	-webkit-perspective-origin: 50% 0;
	-moz-perspective-origin: 50% 0;
	perspective-origin: 50% 0;
}

.ha-header-perspective > div {
	background: #fff;
	text-align: left;
	padding: 0 7%;
	height: 50%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: justify;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
	
}

/*.ha-header-front {
	z-index: 600;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
*/
/*.ha-header-perspective .ha-header-bottom {
	background: #ddd;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	z-index: 1;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
	transition: top 0.5s;
	position: absolute;
	top: 0;
}
*/
/* Justify inline-block elements (h1 on left side, nav on right) */
/*.ha-header-perspective > div::after {
    content: '';
    display: inline-block;
    width: 100%;

}
*/

/*.ha-header h1::before,
.ha-header nav::before {
	content: '';
	height: 100%;
}
*/

/*.ha-header-box nav {
	opacity: 0;
}
*/

/*.ha-header nav {
	height: 100%;
}
*/
/*.ha-header nav a {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
    padding: 0.2em 0.4em;
    margin: 0 0.4em 0;
    font-size: 0.8em;
    cursor: pointer;
    color: #e74c3c;
    outline: none;
    text-decoration: none;
}
*/
/*.ha-header nav a:hover {
	color: #bc3c2f;
}

.ha-header nav a:last-child {
    margin-right: 0;
}
*/
/*.ha-header .ha-header-front nav a:first-child,
.ha-header .ha-header-front nav a:last-child {
	border: 2px solid #e74c3c;
}

.ha-header .ha-header-front nav a:first-child:hover,
.ha-header .ha-header-front nav a:last-child:hover {
	border: 2px solid #bc3c2f;
}
*/
/* Individual states */

/*.ha-header-large {
	height: 420px;
}*/

/*.ha-header-small {
	height: 220px;

	padding-left: 100px;
}
*/

/*.ha-header-small h1:after{
	color: blue;
}*/




