body {
	font-family: Ubuntu;
	background-color: white;
	border: 2px solid black;
	font-size: 40px;
	margin: 0;
}


header a {
	text-decoration: none;
	color: white;
/*	background-color: black;*/
	padding-right: 20px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;


}

header {
	font-family: Philosopher;
	padding-left: 40px;
	margin-top: 50px;
	float: left;
	width: 420px;
	background-color: #E54918;
	position: fixed;
	overflow: hidden;
}

h1#logo{
	font-size: 120%;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	color: white;
	background-color: pink;
}

p#isa{
	display: block;
	font-size: 60%;
	text-align: right;
	float: left;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin: 0px 0px 0px 60px;
	color: white;
	background-color: black;

}

.project-details-area {
	width: 420px;
	background-color: blue;
	/*border: 2px solid green;
*/}


h2#project-name {
	font-size: 60%;

}

.triangle-down {
    width: 0;
    height: 0;
    border-top: 16px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    float: left;
  	margin-top: -33px;
    margin-right: 7px; 

}


